*,
::before
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  margin: 0 auto;
}

body{
   padding: 0;
  margin: 0;
  font-family: sans-serif, vertica;
  width: 100%;
  background-color: midnightblue;
  color: white;
}

iframe{
  width: 380px;
  height: 180px;
}

#header{
  background-color: gray;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-evenly;
  font-size: 1.9rem;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
}

h2{
  font-size: 1.9rem;
}

h3{
  font-size: 1.7rem;
}

p{
  font-size: 1.5rem;
}

#nav-bar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#nav-bar li{
    padding: 12px;
    font-weight: bold;
  }

.nav-bar{
  background: #333;
}

a{
  color: white;
}

.hero-section{
  display: flex;
  justify-content: center;
  padding-top: -3px;
  font-size: 1.9rem;
  flex-wrap: nowrap;
}

.hero-section h1{
  text-align: center;
  width: 75%;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
  "header header header"
  "hero-section hero-section hero-section"
	"form form form"
	"features features features"
	"how-it-is-done how-it-is-done how-it-is-done"
	"pricing pricing pricing"
  "footer footer footer";
  grid-template-rows: auto;
  gap: 10px;
	}

  #header{
    grid-area: header;
  }

  .form{
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: "email email email"
  "submit submit submit";
  }


  #features{
    grid-area: features;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "figure1"
    "figure2"
    "figure3";
  }

  #features .figure1{
    display: flex;
    grid-area: figure1;
  }

  #features .figure2{
    display: flex;
    grid-area: figure2;
  }

  #features .figure3{
    display: flex;
    grid-area: figure3;
  }

  #how-it-is-done{
    grid-area: how-it-is-done;
    margin: 0 auto;
  }

  #pricing{
    grid-area: pricing;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  #pricing li{
    list-style-type: none;
    font-size: 1.5rem;
  }

  .footer{
    grid-area: footer;
    }

.footer .footer1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: "footer-card1" "footer-card2" "footer-card3";
    gap: 10px;
    padding: 20px;
    background-color: gray;
  }

  .footer-card1{
    grid-area: footer-card1;
  }

  .footer-card2{
    grid-area: footer-card2;
  }

  .footer-card3{
    grid-area: footer-card3;
  }

  footer ul{
    list-style-type: none;
    font-size: 1.5rem;
     padding: 10px;
     width: 100%;
     margin: 0 auto;
  }

.hero-section{
  grid-area: hero-section;
}

#email{
  grid-area: email;
  border: px border transparent;
  padding: 10px;
  font-size: 1.5rem;  
  background-color: transparent;
  color: white;
}

#submit{
  grid-area: submit;
  background-color: green;
  color: white;
  padding: 13px;
  font-size: 1.9rem;
  flex-wrap: nowrap;
}
